<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .grid {
      margin: auto;
      width: 530px;
      text-align: center;
    }

    .grid table {
      border-top: 1px solid #C2D89A;
      width: 100%;
      border-collapse: collapse;
    }

    .grid th,
    td {
      padding: 10;
      border: 1px dashed orange;
      height: 35px;
      line-height: 35px;
    }

    .grid th {
      background-color: orange;
    }

    .grid .book {
      padding-bottom: 10px;
      padding-top: 5px;
      background-color: orange;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="grid">
      <div>
        <h1>图书管理</h1>
        <div>
          图书数量:
          <span>{{total}}</span>
        </div>
        <div class="book">
          <div>
            <label for="id">
              编号：
            </label>
            <input type="text" id="id" v-model='id' :disabled='flag'>
            <label for="name">
              名称：
            </label>
            <input type="text" id="name" v-model='name'>
            <button :disabled='submitFlag' @click='handleAdd()'>提交</button>
          </div>
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for='item in books' :key='item.id'>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>
              <a href="" @click.prevent='handleEdit(item.id)'>修改</a>
              <span>|</span>
              <a href="" @click.prevent='handleDel(item.id)'>删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="./lib/vue-3.0.0.js"></script>
  <script src="./lib/axios.js"></script>
  <script>
    // 配置基准URL
    axios.defaults.baseURL = ('http://localhost:3000')
    let vm = Vue.createApp({
      // 数据域
      data() {
        return {
          id: '',
          name: '',
          books: '',
          flag: false,
          submitFlag: false
        }
      },
      created() {
        // 页面打开，渲染数据
        this.handleSearch()
      },
      methods: {
        // 获取数据
        async handleSearch() {
          let res = await axios.get('books')
          // 赋值
          this.books = res.data
        },
        // 添加数据
        async handleAdd() {
          if (this.flag) {
            let res = await axios.put(`books/${this.id}`, {
              name: this.name
            })
            if (res.data.status == 200) {
              this.handleSearch()
              // 清空
              this.id = ''
              this.name = ''
            }
            this.flag = false
          } else {
            let res = await axios.post('books', {
              name: this.name
            })
            // 判断
            if (res.data.status == 200) {
              // 刷新页面
              this.handleSearch()
              this.id = ''
              this.name = ''
            }
          }
        },
        // 修改数据
        async handleEdit(id) {
          // 获取书籍详情
          let res = await axios.get(`books/${id}`)
          // 赋值
          this.id = res.data.id
          this.name = res.data.name
          this.flag = true
        },
        // 删除数据
        async handleDel(id) {
          let res = await axios.delete(`books/${id}`)
          if (res.data.status == 200) {
            this.handleSearch()
          }
        }
      },
      computed: {
        total() {
          return this.books.length
        }
      },
      watch: {
        async name() {
          let res = await axios.get(`books/book/${this.name}`)
          if (res.data.status == 1) {
            this.submitFlag = true
          } else {
            this.submitFlag = false
          }
        }
      }
    }).mount('#app')
  </script>
</body>

</html>