header {
    background-color: #1a1a1f;
    a {
        font-size: calc(33rem / 75);
        color: #ffffff;
        text-decoration: none;
    }
    overflow: hidden;
}

.return {
    float: left;
    margin-left: calc(21rem / 75);
}

.off {
    float: left;
    margin-left: calc(21rem / 75);
}

h3 {
    float: left;
    font-size: calc(36rem / 75);
    color: #ffffff;
    margin-left: calc(104rem / 75);
}